@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400&display=swap');

body {
    font-family: 'Roboto Mono', monospace;
    background-color: #1e1e1e;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #f0f0f0;
}

.calculatrice {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    background-color: #282828;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.affichage {
    grid-column: 1 / span 6;
    background-color: #1e1e1e;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 1.2rem;
    height: 100px;
    color: #f0f0f0;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
}

button {
    padding: 10px;
    background-color: #333333;
    border: none;
    border-radius: 50%;
    font-size: 1.1rem;
    color: #f0f0f0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

button:hover {
    background-color: #444444;
}

button:focus {
    outline: none;
}

/* Position des boutons */
.first-row {
    grid-column: 1 / span 6;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
}

.second-row {
    grid-column: 1 / span 6;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
}

.third-row {
    grid-column: 1 / -2;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.fourth-row {
    grid-column: 1 / -2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr;
    gap: 10px;
}

#l4-4 {
    background-color: #4caf50;
    color: #ffffff;
    border-radius: 50%;
}

#l4-4:hover {
    background-color: #3f9142;
}
